* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header,
footer {
  background-color: #212121;
  color: white;
}

header {
  height: 120px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}

.navbar div {
  margin: 30px 40px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 25px;
}

.category-header {
  text-align: center;
  padding: 15px 0;
}

.category-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffbcaf;
  border-radius: 5px;
  margin: 5px;
}

.category-item-header {
  color: #212121;
  padding: 3px 2px;
  word-wrap: break-word;
  width: 200px;
  text-align: center;
  font-size: 16px;
}

.category-img {
  width: 200px;
}

.item {
  padding: 7px;
  border-radius: 50%;
}

.item:hover {
  border: 1px solid #c50e29;

}

.category-button {
  margin-top: 3px;
  border: 2px solid #dff;
  border-radius: 10px;
}

.category-button:hover {
  border: 2px solid #c50e29;
  transition: padding 0.8s ease-in-out;
  padding: 3px 0;
}

footer {
  margin-top: 10px; 
  height: 110px;
  text-align: center;
}

.footbar {
  display: flex;
  justify-content: space-around;
}