body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header,
footer {
  background-color: #212121;
  color: white;
}

header {
  height: 220px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}

.navbar div {
  margin: 30px 40px;
}

.category {
  display: flex;
}

footer {
  margin-top: 10px; 
  height: 110px;
  text-align: center;
}

.footbar {
  display: flex;
  justify-content: space-around;
}